eureka:
    client:
        serviceUrl:
            defaultZone: ${dev.server.defaultZone}
server:
    port: ${server.port}
spring:
    application:
        name: devocker-zuul
    cloud:
      config:
        profile: dev
        discovery:
          enabled: true
          service-id: ${config.service.id}}
        name: ${spring.application.name},config-center
management:
  security:
    enabled: false
zuul:
  routes:
    zuul1:
      path: /zuul1/**
      serviceId: service-ribbon
    api-b:
      path: /zuul2/**
      serviceId: service-feign

