eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8881/eureka/
server:
  port: 8888
#git 方式
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ljninglgzxl/devocker-springcloud
          searchPaths: eurekaconfig/src/main/resources/config
          force-pull: true
      label: master
  application:
    name: eureka-config
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
#本地方式
#spring:
#  profiles:
#    active: native
#  cloud:
#    config:
#      server:
#        native:
#          search-locations: classpath:/config/
#  application:
#    name: eureka-config
